name: Test

on: ['push', 'pull_request']

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

        # Install Avahi and all GStreamer
        # Note: Installing so many GStreamer plugins is most certaily overkill
      - name: Install dependencies
        run: sudo apt-get install -y avahi-daemon libavahi-client-dev \
              libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev \
              gstreamer1.0-plugins-base gstreamer1.0-plugins-good \
              gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly \
              gstreamer1.0-libav libgstrtspserver-1.0-dev libges-1.0-dev

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all --all-features

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all --all-features
